<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/static/css/casadocodigo.css" />
    <title>Detalhamento dos livros</title>
  </head>
  <body>
    <%- include("../partials/header") %>

    <main class="conteudoPrincipal">
      <div class="container">
        <br />
        <br />
        <a href="/books" class="btn btn-outline-info">Voltar</a>

        <h1>Detalhes do Livro <%-book.id%></h1>
        <br>

        <ul class="list-group">
          <li class="list-group-item"><%- book.titulo %></li>
          <li class="list-group-item"><%- book.preco %></li>
          <li class="list-group-item"><%- book.descricao %></li>
        </ul>
      </div>
    </main>
  </body>
</html>
