<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/static/css/casadocodigo.css" />
    <title>Listagem de livros</title>
  </head>
  <body>
    <%- include("../partials/header") %>

    <main class="conteudoPrincipal">

    <div class="container">
      <h1>Listagem de livros</h1>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <th>Id</th>
          <th>title</th>
          <th>Price</th>
          <th>Detalhes</th>
          <th>Editar</th>
          <th>Remover</th>
        </thead>
  
        <tbody>
          <% books.forEach(book => { %>
          <tr>
            <td><%=book.id %></td>
            <td><%=book.titulo %></td>
            <td><%=book.preco %></td>
            <td><a href="/books/details/<%-book.id%> ">Detalhes</a></td>
            <td><a href="/books/form/<%-book.id %>">Editar</a></td> 
            <td><a href="#" data-ref=<%-book.id%>  data-type="delete">Remover</a></td> 
          </tr>
  
          <% }) %>
        </tbody>
      </table>
    </div>
  </main>

    <%- include("../partials/footer") %> 
    

    <script src="/static/js/remove-livro.js"></script>
  </body>
</html>
